<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>ConfApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script><!-- Errorception code snippet -->
      var _errs=["50b9a2f3ab7b0b4d2000001b"];(function(a,b){a.onerror=function(){_errs.push(arguments)};
      var d=function(){var a=b.createElement("script"),c=b.getElementsByTagName("script")[0];
      a.src="//d15qhc0lu1ghnk.cloudfront.net/beacon.js";a.async=!0;
      c.parentNode.insertBefore(a,c)};a.addEventListener?a.addEventListener("load",d,!1):
      a.attachEvent("onload",d)})(window,document);
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.reject.min.js"></script>
    <script type="text/javascript"><!-- Overriding jQuery mobile routing mechanism -->
      //removed this part
      document.addEventListener("backbutton", function(){
      if (window.history.length > 0) {
      window.history.back();
      return false;
      }
      navigator.app.exitApp();
      }, true);

      // Since we are using the backbone router we want to disable
      // auto link routing of jquery mobile.
      // The code below for mobileinit
      // notice the last two settings
      $(document).bind("mobileinit", function() {
      $.mobile.ajaxEnabled = false;
      $.mobile.hashListeningEnabled = false;
      $.mobile.pushStateEnabled = false;
      $.mobile.changePage.defaults.changeHash = false;
      });
    </script>

    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/backbone-relational.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/models/day.js"></script>
    <script type="text/javascript" src="js/models/conference.js"></script>
    <script type="text/javascript" src="js/models/talk.js"></script>
    <script type="text/javascript" src="js/models/speaker.js"></script>
    <script type="text/javascript" src="js/collections/days.js"></script>
    <script type="text/javascript" src="js/collections/talks.js"></script>
    <script type="text/javascript" src="js/collections/speakers.js"></script>
    <script type="text/javascript" src="js/views/topBarView.js"></script>
    <script type="text/javascript" src="js/views/homePageView.js"></script>
    <script type="text/javascript" src="js/views/applicationView.js"></script>
    <script type="text/javascript" src="js/views/dayView.js"></script>
    <script type="text/javascript" src="js/views/talkListView.js"></script>
    <script type="text/javascript" src="js/views/talkView.js"></script>
    <script type="text/javascript" src="js/views/talkDetailsView.js"></script>
    <script type="text/javascript" src="js/views/speakerView.js"></script>
    <script type="text/javascript" src="js/views/speakerDetailsView.js"></script>
    <script type="text/javascript" src="js/views/infoView.js"></script>
  </head>
  <body>

    <div class="splash" data-role="page"  data-theme="a">
      <div class="splash-main">
        <div class="splash-text">
          <div class="text-line1">
            The
          </div>
          <div class="text-line2">
            Lean StartUp
          </div>
          <div class="text-line3">
            Conference
          </div>
        </div>
        <img src="images/logo.png" />
        <div class="splash-footer">
          DECEMBER 3-4, 2012 <span class=dot>.</span> INTERCONTINENTAL SF
        </div>
      </div>
    </div>


    <script type="text/template" id = "topbar-view-template">
      <a href="#" data-icon="home" data-iconpos="notext"
      data-direction="reverse" class="home">Home</a>
      <h1>The Lean Startup Conf</h1>
    </script>

    <script type="text/template" id = "home-page-template">
      <div data-role="content">
              <ul data-role="listview" data-split-icon="arrow-r"
                  data-iconpos="right" data-theme="a"
                  data-split-theme="a">
              </ul>
      </div><!-- /content -->
    </script>

    <script type="text/template" id = "day-template">
      <a href="#event-list" class="event-link"><%= day.get('title') %></a> 
      <a href="#"></a>
    </script>

    <script type="text/template" id = "talklist-view-template">
      <div data-role="content">
        <ul data-role="listview" data-split-icon="arrow-r"  data-theme="c">
	  <li>
	    <h3  class="day-head"><%= daytitle %></h3>
	  </li>
        </ul>

        <ul data-role="listview" data-split-icon="arrow-r"
            data-iconpos="right" data-theme="a" data-split-theme="a"
            class="talks-ul" >
        </ul>
      </div><!-- /content -->
    </script>

    <script type="text/template" id="talk-view-template">
      <a href="#">
        <h3 class="program-name"><%= title %></h3>
        <p class="speakers-name">
          <%=
              speakers.map(
                           function(speaker){
                             return " "+speaker.get('name');
                           })
          %>
        </p>
        <p class="time"><%= time %></p>
      </a>
      <a href="#" data-iconpos="notext"></a>
    </script>

    <script type="text/template" id="talkdetails-view-template">
      <div data-role="navbar">
        <ul class="talk-title">
	  <li ><h4 class="ui-btn-up-c"><%= title %></h4></li>
        </ul>
      </div><!-- /navbar -->

      <div class="ui-grid-a grid">
        <div class="ui-block-a block speakers"><strong><em>SPEAKERS</em></strong></div>
        <div class="ui-block-b block time"><strong><em><%= time %></em></strong></div>
      </div><!-- /grid-b -->

      <div data-role="content">
        <div class="content-primary">
          <ul data-role="listview" data-split-icon="arrow-r"
              data-split-theme="a" data-theme="a">
          </ul>
        </div>
      </div><!-- /content -->

      <div class="ui-grid-a grid">
        <div class="ui-block-a block description-title"><strong><em>DESCRIPTION</em></strong></div>
      </div><!-- /grid-b -->
      <div class="ui-grid-solo grid">
        <div class="ui-block-a block description"><%= description %></div>
      </div><!-- /grid-b -->
    </script>

    <script type="text/template" id="speaker-view-template">
      <a href="#">
	<img src="<%= image%>" />
	<h3><%= name %></h3>
	<p><%= company %></p>
      </a>
      <a href="#"></a>
    </script>

    <script type="text/template" id="speakerdetails-view-template">
      <div data-role="content" class="speaker-content">
        <div class="content-primary">
          <ul data-role="listview" data-split-icon="arrow-r"
              data-split-theme="a" data-theme="a">
	    <li>
	        <img src="<%= image %>" />
	        <h3><%= name %></h3>
	        <p><%= company %></p>
	    </li>
          </ul>
        </div>
      </div><!-- /content -->
      <div data-role="navbar">
        <ul>
          <li>
          <% if(companyurl.length == 0){ %>
	  <a href="#" data-theme="b"><em>&nbsp;</em></a>
          <%}else{%>
	  <a href="http://<%= companyurl %>" data-theme="b"><em><%= companyurl %></em></a>
          <%}%>
          </li>
	  <li>
          <% if(twitterid.length == 0){ %>
	  <a href="#" data-theme="b"><em>&nbsp;</em></a>
          <%}else{%>
            <a href="http://twitter.com/<%= twitterid %>"
            data-theme="b"><em><%= twitterid %></em></a>
          <%}%>
          </li>
        </ul>
      </div><!-- /navbar -->

      <div class="ui-grid-a grid">
        <div class="ui-block-a block talks-title"><strong>TALKS</strong></div>
      </div><!-- /grid-b -->
      <div data-role="navbar" class="talks">

      </div><!-- /navbar -->


      <div class="ui-grid-a grid">
        <div class="ui-block-a block about-title"><strong>ABOUT</strong></div>
      </div><!-- /grid-b -->
      <div class="ui-grid-solo grid">
        <div class="ui-block-a block about">
          <%= about %>
        </div>
      </div><!-- /grid-b -->
    </script>

    <script type="text/template" id="talkbyspeaker-view-template">
      <a href="#" data-theme="b"><%= title %></a>
    </script>

    <script type="text/template" id="info-view-template">
      <div class="info-details ui-grid-solo grid">
        <% for(var index in info){%>
        <div class="ui-block-a block"><%= info[index] %></div>
        <% }%>
      </div><!-- /grid-b -->
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36723392-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
  </body>
</html>
